<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
    <div class="campo">
        <label for="">Email</label>
        <input type="email" name="email" placeholder="Tu email">
    </div>
    <div class="campo">
        <label for="">Contraseña</label>
        <input type="password" name="password" placeholder="Tu contraseña">
    </div>
    <div class="campo acciones">
        <a href="/crear-cuenta">No tienes una cuenta?. Crea una</a>
        <a href="/reestablecer-password">Olvide mi contraseña</a>
    </div>
    <div class="campo">
        <input type="submit" value="Iniciar Sesion" class="btn btn-azul">
    </div>
    </form>
</main>