<main class="contenedor">
    <form action="/reestablecer-password" method="post" class="default-form">
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Tu email">
        </div>
            <a href="/iniciar-sesion">Volver a Iniciar Sesion</a>
        <div class="campo">
            <input type="submit" value="Reestablecer contraseña" class="btn btn-azul">
        </div>
    </form>
</main>